{% load staticfiles %}

<html>
  <head>
      <title>{% block title %}Title{% endblock %}</title>
      
      {% block load_bootstrap_css %}
         <link href="{% static 'bootstrap-dark/css/bootstrap.css' %}" rel="stylesheet" />
        {% endblock %} 
       {% block load_jquery %}
          <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        {% endblock %}
        {% block load_bootstrap_js %}
          <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
        {% endblock %}
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        {% block default_css_overrides %}
        <style type="text/css">
            input[type="text"] { 
                height:30px;
                float:left;
            }
            .errorlist { float:right;color:red;font-size:12px;}
            .linebreak10 { width:100%;height:10px;overflow:auto;}
            .linebreak { height:1px;width:100%;overflow:auto;}
            .margintop80 { margin-top:80px;}
            textarea { height:30px; width:450px;}
            .helptext { font-size:11px;font-style:italic;}
            label { color:#c8c8c8;}
            .container { width:1100px;}
            .tag-check { margin-right: 5px;} 
            .taglabel { margin-left:7px; }
        </style>
        {% endblock %}
        {% block additional_css_overrides %}
        {% endblock %}
       {% block js_overrides %}{% endblock %}
  </head>
    <body>

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
              <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#">{% block project_name %}Rawdogger{% endblock %}</a>
                <div class="nav-collapse">
                  <ul class="nav">

                    <li><a href="{% url 'xxx_index' %}">Home</a></li>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources<b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <!--li><a href="#">Add Categories</a></li-->
                        <li><a href="{% url 'galleries_add' %}">New Gallery</a></li>
                        <li><a href="{% url 'providers_add' %}">New Provider</a></li>
                        <li><a href="{% url 'banners_add' %}">New Banners</a></li>
                        
                        <li class="divider"></li>
                        <li><a href="{% url 'galleries_view' %}">Galleries</a></li>
                        <li><a href="{% url 'tags_view' %}?tagtype=main">Tags Report</a></li>
                        <li><a href="{% url 'banners_view' %}">Banners</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'providers_view' %}">Providers</a></li>
                        <li><a href="{% url 'provider_accounts_view' %}">Provider Accounts</a></li>

                      </ul>
                    </li>
                  </ul>
                  <!--form class="navbar-search pull-left" action="">
                    <input type="text" class="search-query span2" placeholder="Search">
                  </form-->
                  <ul class="nav pull-right">
                    <li><a href="#">Login</a></li>
                    
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="/mainweb/">Mainweb Admin</a></li>
                        
                        <!--li class="divider"></li>
                        <li><a href="#">Separated link</a></li-->
                      </ul>
                    </li>
                  </ul>
                </div><!-- /.nav-collapse -->
              </div>
            </div><!-- /navbar-inner -->
          </div>


        <div class="container margintop80">

            <h1 class="pull-left">
                {% block heading %}hello man {% endblock %}
            </h1> 
            
            {% block action_button %}
            {% endblock %}


            <div class="linebreak"></div>
            <hr />

            {% block error_notification %}{% endblock %}

            <form action="{% block form_submit_to %}#{% endblock %}" method="POST"> {% csrf_token %}
                {% block add_gallery_form %} {% endblock %}
                {% block add_provider_form %} {% endblock %}
            </form>

            {% block table_list %}
            {% endblock %}

            {% block detail_view %}
            {% endblock %}

        </div>
  </body>
</html>
