{% extends "base.html" %}

{% block title %}Add a Category{% endblock %}
{% block heading %}Add a Category{% endblock %}

{% block form_submit_to %}{% url "categories-add" %}{% endblock %}
{% block add_category_form %}
    <table>
      {{form.as_table}}
    </table>
    <input type="submit" class="btn btn-success" value="Add Category" />
{% endblock %}

{% block action_button %}
    <input type="button" class="btn btn-info pull-right" value="View Categories" 
                onclick="window.location='{% url 'categories-view' %}';"/>
{% endblock %}