{% extends "xxxgalleries/base.html" %}

{% block title %}All Galleries{% endblock %}
{% block heading %}Galleries{% endblock %}

{% block table_list %}

    
   {% for i in object_list %}
        <div class="pull-left" style="margin-right:20px;margin-bottom:10px;height:300px;text-align:center;background-color:#fff;">
            <a href="{% url 'gallery_detail' pk=i.id %}" target="_blank">
                <img src="/media/galleries/{{i.media_folder}}/{{i.thumbnail}}" style="height:250px;" width="200" height="250" />
            </a>
            <div style="width:100%;height:50px;color:#000;padding:5px;text-align:left;">
                <b>{{i.name}}</b><br />
                {% if i.in_sync %}<span class="label label-success">IN SYNC</span>{% else %}
                    <span class="label label-warning">NOT SYNC</span>{% endif %}
                
            </div>
        </div>
   {% endfor %}

 {% endblock %}


 {% block action_button %}
<div class="pull-right" style="width:400px;text-align:right;">
    <input type="button" class="btn btn-info pull-right" value="Add Gallery" 
                onclick="window.location='{% url 'galleries_add' %}';"/>
    <br /><br />
    Filter by Tag 
    <select onchange="window.location='/xxxgalleries/tag/'+this.value + '/';">
        {% for i in tags %}
            <option value="{{i.id}}">{{i.name}}</option>
        {% endfor %}
    </select>
</div>
{% endblock %}
