{% extends "xxxgalleries/base.html" %}

{% block title %}{{content|capfirst}} Galleries{% endblock %}
{% block heading %}{% if tag_selected %}
	Adding Pic galleries to {{tag_selected.name}} Tag
{% else %}
	{{content|capfirst}} Galleries
{% endif %}
{% endblock %}

{% block js_overrides %}
<script type="text/javascript">
	function add_gallery_to_tag(tag_name, gallery_id) {
		$.getJSON('{% url 'addtag' %}?tag_name=' + tag_name + '&gallery_id=' + gallery_id, function(data) {
				console.log("LOG = " + data.result);
				if (data.result == 'ok') {
					$('#thumb_bg_'+gallery_id).css('background-color', 'green');
				}
		});
	}
	function remove_gallery_to_tag(tag_name, gallery_id) {
		$.getJSON('{% url 'deltag' %}?tag_name=' + tag_name + '&gallery_id=' + gallery_id, function(data) {
				console.log("LOG = " + data.result);
				if (data.result == 'ok') {
					$('#thumb_bg_'+gallery_id).css('background-color', 'red');
				}
		});
	}
</script>
{% endblock %}

{% block table_list %}

    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a class="btn btn-warning" href="?content={{content}}&page={{ page_obj.previous_page_number }}{% if tag_selected %}&tag={{tag_selected.id}}{% endif %}">previous</a>
                {% endif %}
                <span class="page-current" style="position:relative;font-size:27px;top:5px;">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a class="btn btn-warning" href="?content={{content}}&page={{ page_obj.next_page_number }}{% if tag_selected %}&tag={{tag_selected.id}}{% endif %}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
    
   
{% for i in object_list %}

	{% if tag_selected %}
		{% ifequal i.content 'pic' %}
			{% if tag_selected in i.tags.all %}
				<div id="thumb_bg_{{i.id}}" class="pull-left" style="width:120px;margin-right:20px;margin-bottom:10px;text-align:center;background-color:green;">

					<a href="{% url 'gallery_detail' pk=i.id %}" target="_blank">View Gallery</a>

					<a href="javascript:remove_gallery_to_tag('{{tag_selected.name}}', {{i.id}});" target="_blank">
            				    <img src="{{i.thumbnail}}" width="120" style="height:140px;" height="140" />
            				</a>
        			</div>
			{% else %}
				<div id="thumb_bg_{{i.id}}" class="pull-left" style="width:120px;margin-right:20px;margin-bottom:10px;text-align:center;background-color:red;">

					<a href="{% url 'gallery_detail' pk=i.id %}" target="_blank">View Gallery</a>

					<a href="javascript:add_gallery_to_tag('{{tag_selected.name}}', {{i.id}});" target="_blank">
            				    <img src="{{i.thumbnail}}" width="120" style="height:140px;" height="140" />
            				</a>
        			</div>
			{% endif %}
    {% endifequal %}
    {% ifequal i.content 'video' %}
        			<div class="pull-left" style="width:320px;margin-right:20px;margin-bottom:10px;text-align:center;background-color:#fff;">
            				<a href="{% url 'gallery_detail' pk=i.id %}" target="_blank">
                				<img src="{{i.thumbnail}}" width="320" style="height:220px;" height="220" />
            				</a>
        			</div>
    {% endifequal %}

	{% else %}
	
		{% ifequal i.content 'pic' %}
				<div id="thumb_bg_{{i.id}}" class="pull-left" style="width:120px;margin-right:20px;margin-bottom:10px;text-align:center;background-color:#fff;">

					<a href="{% url 'gallery_detail' pk=i.id %}" target="_blank">
            				    <img src="{{i.thumbnail}}" width="120" style="height:140px;" height="140" />
            				</a>
            
        			</div>
    {% endifequal %}
    {% ifequal i.content 'video' %}
        			<div class="pull-left" style="width:320px;margin-right:20px;margin-bottom:10px;text-align:center;background-color:#fff;">
            				<a href="{% url 'gallery_detail' pk=i.id %}" target="_blank">
                				<img src="{{i.thumbnail}}" width="320" style="height:220px;" height="220" />
            				</a>
        			</div>
    {% endifequal %}


	{% endif %}


        
{% endfor %}
	

   <div class="linebreak10"></div>

   {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a class="btn btn-warning" href="?content={{content}}&page={{ page_obj.previous_page_number }}{% if tag_selected %}&tag={{tag_selected.id}}{% endif %}">previous</a>
                {% endif %}
                <span class="page-current" style="position:relative;font-size:27px;top:5px;">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a class="btn btn-warning" href="?content={{content}}&page={{ page_obj.next_page_number }}{% if tag_selected %}&tag={{tag_selected.id}}{% endif %}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
    <div class="linebreak10"></div>
    <div class="linebreak10"></div>

 {% endblock %}


 {% block action_button %}
<div class="pull-right" style="width:400px;text-align:right;">
    <input type="button" class="btn btn-info pull-right" value="Add Gallery" 
                onclick="window.location='{% url 'galleries_add' %}';"/><br /><br />
    <input type="button" class="btn btn-info pull-right" value="Picture Galleries" 
                onclick="window.location='{% url 'galleries_view' %}?content=pic{% if tag_selected %}&tag={{tag_selected.id}}{% endif %}';"/><br /><br />
    <input type="button" class="btn btn-info pull-right" value="Video Galleries" 
		onclick="window.location='{% url 'galleries_view' %}?content=video{% if tag_selected %}&tag={{tag_selected.id}}{% endif %}';"/><br /><br />
    <br /><br />
    Filter by Tag 
    <select onchange="window.location='/xxxgalleries/tag/'+this.value + '/';">
        {% for i in tags %}
            <option value="{{i.id}}">{{i.name}}</option>
        {% endfor %}
    </select>
</div>
{% endblock %}
