{% extends "xxxgalleries/base.html" %}

{% block title %}All Galleries{% endblock %}
{% block heading %}Rawdogger{% endblock %}

{% block additional_css_overrides %}
<style type="text/css">
	.container { width:900px;}
</style>
{% endblock %}

{% block table_list %}

<a style="width:120px;" class="btn btn-large btn-danger" href="{% url 'providers_view' %}"><b>Providers</b></a>
<br /><br />
<a style="width:120px;" class="btn btn-large btn-success" href="{% url 'galleries_view' %}"><b>Galleries</b></a>
<br /><br />
<a style="width:120px;" class="btn btn-large btn-warning" href="{% url 'banners_view' %}"><b>Banners</b></a>
<br /><br />

{% endblock %}

 {% block action_button %}
 
 {% endblock %}
