{% extends "xxxgalleries/base.html" %}

{% block title %}Provider Accounts{% endblock %}
{% block heading %}Provider Accounts View{% endblock %}

{% block additional_css_overrides %}
  <style type="text/css">
    .container { width:940px; }
    .danger > td, .table > tfoot > .danger > td, .table > thead > .danger > th, .table > tbody > .danger > th, .table > tfoot > .danger > th {
    background-color: #ee5f5b;
    }
  </style>
{% endblock %}

{% block table_list %}
  
  <table class="table table-bordered" style="width:930px;font-size:12px;">
    <tr><td>Provider</td><td>Email</td><td>Username</td><td>Password</td>
      <td>Website Registered</td><td>CCBill</td>
      <td>Affiliate ID</td><td>LINK ID</td>
    </tr>
    {% for i in object_list %}
    <tr>
      <td><a href="{% url 'provider_detail' pk=i.provider.id %}">{{ i.provider.name }}</a></td>
      <td>{{ i.email_registered }}</td>
      <td>{{ i.username }}</td>
      <td>{{ i.password }}</td>
      <td>{{ i.website_registered }} </td>
      <td>{{ i.ccbill }}</td>
      <td>{{ i.affiliate_id }}</td>
      <td>{{ i.link_id }}</td>
    </tr>

    {% endfor %}
   </table>

 {% endblock %}


 {% block action_button %}
    <input type="button" class="btn btn-info pull-right" value="Add Account" 
                onclick="window.location='{% url 'provider_accounts_add' %}';"/>

{% endblock %}
