{% extends "xxxgalleries/base.html" %}

{% block title %}Provider {{object.name}} {% endblock %}
{% block heading %}Provider: {{object.name}}{% endblock %}


{% block detail_view %}

    <div class="pull-left" style="background-color:#fff">
        <img class="pull-left" src="{{object.logo}}" />
    </div>

    <div class="linebreak10"></div>
    <hr />
    
    <div class="pull-left" style="width:300px;" >
        Name:<b> {{object.name}}</b>
        Login: <a href="{{object.login_url}}">{{object.login_url}}</a><br />
        Username: {{object.username}}<br />
        Password: {{object.password}}<br />
        Website: {{object.website}}<br />
        CCBill: {{object.ccbill}}<br />
    </div>
    <div class="pull-right" style="width:400px;">
        Galleries: {{object.banners_count}}
        <br />
        Banners: {{object.galleries_count}}
    </div>
{% endblock %}

{% block action_button %}
    <input type="button" class="btn btn-warning pull-right" value="Edit" 
    onclick="window.location='{% url 'providers_update' pk=object.id %}';"/><br /><br />
    <input type="button" class="btn btn-info pull-right" value="Back to Providers" 
                onclick="window.location='{% url 'providers_view' %}';"/>
{% endblock %}

