{% extends "xxxgalleries/base.html" %}

{% block title %}Provider Update{% endblock %}
{% block heading %}Update Provider{% endblock %}


{% block form_submit_to %}
	{% url "providers_update" pk=object.id %}
{% endblock %}

{% block add_gallery_form %}
    <table width="650" cellpadding="10" cellspacing="10">
      {{form.as_table}}
    </table>
    <input type="submit" class="btn btn-success" value="Update Provider" />
 {% endblock %}

{% block action_button %}
    <input type="button" class="btn btn-info pull-right" value="View Providers" 
                onclick="window.location='{% url 'galleries_view' %}';"/>
{% endblock %}
