{% extends "xxxgalleries/base.html" %}

{% block title %}Add a Provider Account{% endblock %}
{% block heading %}Add a Provider Account{% endblock %}


{% block form_submit_to %}{% url "provider_accounts_add" %}{% endblock %}
{% block add_provider_form %}
    <table width="650">
      {{form.as_table}}
    </table>
    <input type="submit" class="btn btn-success" value="Add Account" />
 {% endblock %}

{% block action_button %}
    <input type="button" class="btn btn-info pull-right" value="View Accounts" 
                onclick="window.location='{% url 'provider_accounts_view' %}';"/>
{% endblock %}
